.w-47 {
  width: 47% !important;
}
.icon-rupee {
  margin-left: -30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.w-100px {
  width: 100px;
}
