.container-bg-white {
  background-color: #ffffff;
}

.container-bg-FFCF25 {
  background-color: #ffcf25;
}

.signup-title {
  font-family: "Blinker";
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  color: #ff9e67;
}

.form-input {
  background: #f2f2f2;
  border-radius: 8px;
}
